<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"> First rule of fight club</div>
      <div class="item item-body">
        <div>
          <b>Do Not talk about Fight Club</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Second rule of fight club </div>
      <div class="item item-body">
        <div>
          <b>Do Not talk about Fight Club</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Third rule of Fight Club</div>
      <div class="item item-body">
        <div>
          <b>Someone yells stop, goes limp, taps out, the fight is over</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">My Favorite Dude</div>
      <div class="item item-body">
        <div>
          <b>Jackson James Nemesek</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
